<nav class="w-screen h-16 border-b-4 bg-white">
    <div class="flex w-4/5 mx-auto justify-between items-center">
        <h1 class="font-black text-2xl tracking-wide mt-4">Perfect <span class="text-pri-blue">Resume</span></h1>
        <div class="flex gap-x-12 font-semibold mt-4">
            <a href="*">Home</a>
            <a href="*">Resume</a>
            <a href="*">About Us</a>
            <a href="*">Log In</a>
            <a href="*">Sign Up</a>
        </div>
    </div>
</nav> 
