<%layout("/layouts/boilerplate")%>

<div class=" w-4/5 h-full mx-auto flex overflow-hidden mt-20">
    <div class="w-3/5">
        <h1 class="text-4xl font-black tracking-wider leading-relaxed mt-36">
            Land the Job with Resumes<br />
            That work for You.
        </h1>
        <p class="text-lg mt-5 tracking-wide leading-relaxed font-medium">
            Your resume is the key to your career. With “Perfect Resume”,<br />
            you can create stunning, industry-specific resumes in just a few
            steps. <br />
            Don't just apply - impress!
        </p>
        <form action="/home/resume" method="GET">
            <button
                class="text-white bg-pri-blue hover:bg-dark-pri-blue font-medium rounded-lg text-sm px-6 py-3 text-center my-6"
            >
                Create Resume
            </button>
        </form>
    </div>
    <div>
        <img
            src="Images\profile-data-concept-illustration\resume-illustration.svg"
            alt="resume-illustration"
            class="h-5/6 float-right"
        />
    </div>
</div>
