<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
    <form action="/home/resume" method="GET">
        <button class="bg-blue-400 text-white p-4">Generate Resume</button>
    </form>
</body>
</html>